@use 'base/variables' as v;
@use 'base/mixins' as m;

.btn-mobile {
  background-color: v.$color-primary-dark-2;
  border-radius: v.$border-radius;
  color: v.$color-white;
  border: none;
  font-weight: 700;
  font-size: 2.4rem;
  padding: 0.8rem 1.6rem;
  display: none;
  position: relative;

  @include m.d(md) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    z-index: 9999;
  }

  &__icon {
    height: 3.2rem;
    width: 3.2rem;

    &[name='close-outline'] {
      display: none;
    }
  }
}

.nav-active .btn-mobile__icon[name='close-outline'] {
  display: block;
}

.nav-active .btn-mobile__icon[name='menu-outline'] {
  display: none;
}
