@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
  padding: 4.8rem 0;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;

  &__grid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    border-bottom: 1px solid #eee;

    @include m.d(xl) {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }

    @include m.d(lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    @include m.d(md) {
      row-gap: 4.8rem;
    }
  }
}

.logo-col {
  display: flex;
  flex-direction: column;

  @include m.d(lg) {
    grid-column: span 3;
  }
}

.footer__logo {
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;

  & .icon__redes {
    font-size: 2rem;
  }

  & .icon__redes[name='logo-instagram'] {
    color: #c837ab;
  }

  & .icon__redes[name='logo-twitter'] {
    color: #2ab4e4;
  }

  & .icon__redes[name='logo-facebook'] {
    color: #097eeb;
  }

  & .icon__redes[name='logo-whatsapp'] {
    color: #00e676;
  }
}

.footer__heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.address-col {
  @include m.d(lg) {
    grid-column: span 3;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.6;

  & .address {
    margin-bottom: 2.4rem;
  }
}

.nav-col {
  @include m.d(lg) {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  & .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.8rem;
  color: v.$color-grey-light-1;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: v.$color-grey-dark-2;
}

.footer__copy {
  padding-top: 6rem;
  @include m.flex(row, 0.4rem);
  @include m.flex-complete-center();
  transition: transform 0.4s;
  font-size: 1.8rem;
  line-height: 1.6;

  & span {
    font-weight: 700;

    @include m.d(md) {
      margin-top: 1.2rem;
      display: block;
    }
  }

  & a {
    align-self: flex-end;
  }

  & .github:hover {
    transform: scale(1.2);
  }
}
